header{ 
        padding: 20px 0;
        background: gray;
}
main{
        padding: 20px;
        left: 50;
        display: inline;
}
      
.caixa{
        position: relative;
        width: 1500px;
        margin: 0 auto;
        
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;

}
nav li{
    display:inline;
    margin: 0 0 0 15px;   
}
nav a{
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
}
nav a:hover{
    color: rgb(170, 170, 6);
    text-decoration: underline;
   
}
.produtos{
        padding: 50px;
        width: 940px;
        margin: 0 auto;

}
.produtos li{
        vertical-align: top;
        text-align: center;
        display: inline-block;
        width: 30%;
        border-width: 5px;
        border-style:solid;
        border-color: black;
        margin: 0 1.5%;
        padding: 30px 20px;
        box-sizing: border-box;
        border-radius: 10px;
}
.produtos li:hover{
    border-color: rgb(170, 170, 6);   
}
.produtos li:hover h2{
    font-size: 34px;
}
.produtos li:active{
    border-color: red;
}
.produtos h2{
            font-size: 30px;           
            font-weight: bold;
}
.descricao{
                    font-size: 18px;
}
.produto-preco{
    font-size: 22px;           
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background:url(../Images/bg.jpg);
    padding: 40px 0;
}
.copyright{
            color: white;
            font-size: 13px;
            margin: 20px;
}           
